<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-<%= appStructure.navBarColor%> navbar-light">
    <!-- Left navbar --> 
    <%- include(__left_navbar_links) %>
    
    <% if(false) { %>

        <!-- Search form --> 
        <%- include(__search_form) %>
        <!-- message and other -->
        <%- include(__right_navbar_links) %>

    <% } %>
</nav>
<!-- /.navbar -->