<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-red navbar-light">
    <!-- Left navbar --> 
    <%- include('left-navbar-links.ejs') %>
    <!-- Search form --> 
    <%- include('search-form.ejs') %>
    <!-- right navbar --> 
    <%- include('right-navbar-links.ejs') %>
</nav>
<!-- /.navbar -->