      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

<!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2020 by  <a href="mailto: kellsoon@gmail.com">kellsoo</a> based on <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-light">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<%- include(__end_of_page) %>