<!-- Sidebar user panel (optional) -->
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="/images/test_avatar/rick.jpg" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
        <a href="<%= appStructure.user.url %>" class="d-block"><%= appStructure.user.name %></a>
    </div>
</div>