<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <%- include('nav-item', {header: "test", href:"pages/widgets.html", icon:"nav-icon fas fa-chart-bar"}) %>
    <%- include('nav-tree', {header: "header of nav tree", icon:"nav-icon fas fa-tree"}) %>
  </ul>
</nav>